/* 
    Created on : 9 may 2024, 07:49:11
    Author     : huevo
*/
.ev-destacados .card{
    height: 100%;
}

.ev-destacados .card img{
    height: 200px;
    object-fit: cover;
}

.card p{
    margin: 2px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container .row {
    flex: 1;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow-1 {
    flex-grow: 1;
}

.footer {
    padding: 1rem 0;
}